
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #151515;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.avatar {
    border: 15px solid white;
    border-radius: 100%
}
hr.eye-light,
hr.eye-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 350px;
  margin: 25px auto 30px;
}
hr.eye-light:after,
hr.eye-primary:after {
  content: "\f06e";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 3em;
  padding: 0 0.25em;
}
hr.eye-light {
  border-color: white;
}
hr.eye-light:after {
  background-color: #151515;
  color: white;
}
hr.eye-primary {
  border-color: #151515;
}
hr.eye-primary:after {
  background-color: white;
  color: #151515;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #151515;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
.navbar-custom {
  background: #14a2b6;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom .navbar-brand {
  color: #151515;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: #151515;
}
.navbar-custom .navbar-nav li a:hover {
  color: white;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #14a2b6;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #14a2b6;
}
.navbar-custom .navbar-toggle {
  color: #151515;
  text-transform: uppercase;
  font-size: 10px;
  border-color: #151515;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #14a2b6;
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #151515;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.carusel-caption {
    position:relative;
    top:100px;
}

#portfolio * {
  z-index: 2;
}
.principles-description {
    text-transform:none;
    display:none;
    position:relative;
    font-weight: normal;        
}
.principles-description p {
    margin: 12%;
    font-size: 0.9em;
    font-weight: 900;
}
.wrapper {
    display:inline-block;
}
.principles-block {
    position:relative;
    background:#151515;
    display:table;
    width:20em;
    height:20em;
    vertical-align:top;
    text-align:center;
    margin-top:3%;
    margin-right:10px;
    border-radius:100%;
    border:10px solid #14a2b6;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.principles-name{
    display:table-cell;
    vertical-align:middle;
    font-size:2em;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
    padding:4%;
}
.principles-block:hover {
    background: white;
}
.principles-block:hover .principles-description {
    display:table-cell;
    vertical-align:middle;
    margin:12%;
    color: #151515;
}
.principles-block:hover .principles-name {
    display:none;
}

.principles {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

footer {
  color: #151515;
}
footer p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #14a2b6;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #151515;
}
footer .footer-below P {
  color:#d1d1d1;
 font-size: 1em;
}
.btn-outline {
  color: #151515;
  font-size: 20px;
  border: solid 2px #151515;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #151515;
  background: white;
  border: solid 2px white;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #151515;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}

#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}
